{% extends "base.html" %}

{% block page_title %}
    <h2 id="page_title">{{ page_name }}</h1>
    {% if page.is_blog and page.about %}
        <h3 id="page_subtitle">{{ page.about }}</h2>
    {% endif %}
{% endblock %}

{% block navigation %}
    <ul>
        {% for p in pages %}
            <li><a href="/{{ p.name|lower }}">{{ p.name }} ({{ p.num_articles }})</a></li>
        {% endfor %}
        <!--
        <li><a href="/">Me</a></li>
        <li><a href="/phd">PhD journal</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Publications</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Personal</a></li>
        <li><a href="#">About</a></li>
        -->
    </ul>
{% endblock %}

{% block page_content %}
    {% for a in articles %}
        <div class="article">
            <div class="article-title">
                <a href="articles/{{ a.id }}/{{ a.title|slugify }}">{{ a.title }}</a>
                {{ a.pub_date|date:"l, d M 'y" }}
            </div>
            <div class="article-body">
                {{ a.html|safe }}
            </div>
        </div>
    {% empty %}
        <div class="article">
            <p>No articles found for the page.</p>
        </div>
    {% endfor %}
    {% if articles %}
        <div class="pagination">
            {% if articles.has_previous %}
                <a href= "?p={{ articles.previous_page_number }}">newer entries &lt;&lt; </a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}
            </span>

            {% if articles.has_next %}
                <a href="?p={{ articles.next_page_number }}"> &gt;&gt; older entries</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
