       </div>
       <footer>
          <hr>
          <!-- <1!-- Begin Shinystat code --1> -->
          <!-- <span class="hidden"> -->
          <!-- <1!-- <span> --1> -->
          <!--   <script type="text/javascript" src="http://codice.shinystat.com/cgi-bin/getcod.cgi?USER=baisero"></script> -->
          <!--   <noscript> -->
          <!--   <h6><a href="http://www.shinystat.com"> -->              
          <!--   <img src="http://www.shinystat.com/cgi-bin/shinystat.cgi?USER=baisero" alt="Free counter" style="border:0px" /></a></h6> -->
          <!--   </noscript> -->
          <!-- </span> -->
          <!-- <1!-- End Shinystat code --1> -->
          Contact me at <a href="andrea[DOT]baisero[AT]ipvs[DOT]uni-stuttgart[DOT]de" class="email">mail</a>.
        </footer>
      </div>
    </div>
    <div class="haiku-leaf">
      <a href="{{ site.url }}/haiku/index.html"><i class="fa fa-leaf fa-lg"></i></a>
    </div>
  </body>
</html>
