<div id="pagebanner">
<ul class="nav nav-tabs nav-justified">
  {% for nav in site.navigation %}
    {% for p in site.pages %}
      {% if p.title == nav %}
        {% assign p = site.pages %}
        <li{% if page.title == p.title or (p.title == "weblog" and page.id != nil) %} class="active"{% endif %}>
        <a href="{{ site.url }}{{ p.url }}">
          <strong> 
            <i class="fa {{ p.icon }} fa-fw"></i>
            <!-- <span class="title"> -->
            {{ p.title | capitalize }}
            <!-- </span> -->
          </strong>
        </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
</div>
