Flask==0.10.1
Flask-FlatPages==0.6
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
PyYAML==3.11
Werkzeug==0.11.3
argparse==1.2.1
cycler==0.9.0
-e git+git@animal.informatik.uni-stuttgart.de:andrea.baisero/eyespy.git@27614fe1a29b2d9179346ec58ee39a6fe2fcdb90#egg=eyespy-master
itsdangerous==0.24
matplotlib==1.5.0
numpy==1.10.2
pbr==1.8.1
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
six==1.10.0
stevedore==1.10.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wsgiref==0.1.2
