@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700");

body {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-size: 140%;
  text-align: justify;
}

ul.nav {
  font-size: 1.3em;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

div#pagewrap {
  width: 612px;
  width: 682px;
  margin: 10px auto;
  border: 2px;
}

hr {
  border: none;
  width: 80%;
  height: 1px;
  /* background-color: pink; */
  background-color: gray;
}

div#pagebanner {
  width: 612px;
  width: 682px;
  background: white;
}

div#pagecontent {
  /* this is for the muhammad-mountain positioning system */
  position: relative;
}

div#pagecontent h1:before,
div#pagecontent h2:before,
div#pagecontent h3:before {
  content: "# "
}

footer {
  margin-bottom: 20px;
}

img.img-thumbnail {
  width: 100%;
  margin: 5px;
}

img.me {
  width: 204px;
  margin-left: 0px;
  margin-right: 10px;
  float: left;
}

div.home {
  text-align: center;
}

div.haiku {
  display: table;
  margin: 0 auto;
  /* border: 2px solid green; */
  background-image: url("/static/img/sakura1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.haiku:nth-of-type(odd) {
  margin-right: 0;
}

div.haiku:nth-of-type(even) {
  margin-left: 0;
}

div.haiku:nth-of-type(3n-2) {
  background-image: url("/static/img/sakura1.png");
}

div.haiku:nth-of-type(3n-1) {
  background-image: url("/static/img/sakura2.png");
}

div.haiku:nth-of-type(3n) {
  background-image: url("/static/img/sakura3.png");
}

div.haiku > p:nth-of-type(3n-2) { text-align: left; }
div.haiku > p:nth-of-type(3n-1) { text-align: center; }
div.haiku > p:nth-of-type(3n) { text-align: right; }

div.haiku-leaf {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

div.ipyprompt {
  position: absolute;
  font-family: monospace;
  /* background-color: green; */
  left: -63px;
}

div.ipycode {
  color: blue;
}

div.ipyoutput {
  color: red;
}

ol.bibliography {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.notebook {
}

object.notebook {
  /* width: 129%; */
  width: 146%;
  position: relative;
  left: -200px;
}

/* html, body, div#pagewrap, div#pagecontent, article, div.notebook, object.notebook { */
/*   /1* for notebook object auto height *1/ */
/*   height: 100%; */
/* } */


/* .email:before { */
/*   href: attr(data-website) "\0040" attr(data-user); */
/*   unicode-bidi: bidi-override; */
/*   direction: rtl; */
/* } */

/* PUBLICATION */
.pub-title {
  font-weight: 400;
}
.pub-authors {
  font-size: 1.4rem;
  font-style: italic;
}
.pub-mainauthor {
  font-weight: bold;
}
.pub-conf {
  font-size: 1.4rem;
}
.pub-links {
  font-size: 1.4rem;
  text-align: center;
}
.pub-preview {
  width: 95%;
  border: 1px solid #eee;
}
