@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700");

html, body {
  height: 100%;
}

body {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-size: 140%;
  text-align: justify;
  color: #555;
}

#content > h1 {
  font-size: 1.7em;
  text-decoration: underline;
}

#content h2,
#content article h1 {
  font-size: 1.35em;
  font-weight: bold;
}

#content h3,
#content article h2 {
  font-size: 1em;
  font-weight: bold;
}

#content h4,
#content article h3 {
  font-size: 1em;
  font-weight: bold;
}

#container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

#menu {
  margin-top: 1em;
  margin-bottom: 0em;
}

#menu #menulist {
  font-size: 1.3em;
}

#content h1:before,
#content h2:before,
#content h3:before {
  content: "# ";
}

#content img {
  padding-left: 1em;
  padding-right: 1em;
}

#content .pub-entry {
  padding-top: 1em;
  padding-bottom: 1em;
}

#content :target {
  margin-left: -1.5em;
  margin-right: -1.5em;

  padding-left: .75em;
  padding-right: .75em;

  border-left: .75em double lightpink;
  border-right: .75em double lightpink;
  border-top: .1em solid lightpink;
  border-bottom: .1em solid lightpink;
  border-radius: 1em;
}

#content .pub-thumbnail {
  width: 100%;
  margin: 5px;
}

#footer {
  margin-top: auto;
  /* margin-bottom would be overruled by margin-top if page were high enough */
  padding-bottom: 1em;
  text-align: center;
}

#haikusecret {
  position: fixed;
  top: 10px;
  left: 10px;
}

hr {
  border: none;
  width: 90%;
  height: 1px;
  background-color: gray;
}

div.notebook img {
  display: block;
  margin: 0 auto;
}
