@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700");

html, body {
  height: 100%;
}

body {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-size: 140%;
  text-align: justify;
  color: #333;
}

#container {
  padding: .5em 3em;
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

#content h1 {
  font-size: 1.7em;
  text-decoration: underline;
}

#content h2 {
  font-size: 1.35em;
  font-weight: bold;
}

#content h3 {
  font-size: 1em;
  font-weight: bold;
}

#content h4 {
  font-size: 1em;
  font-weight: bold;
}

#menu {
  margin-top: 1em;
  margin-bottom: 0em;
}

#menu #menulist {
  font-size: 1.3em;
}

#content h1:before,
#content h2:before,
#content h3:before {
  content: "# ";
}

#content .pub-entry {
  padding-top: 1em;
  padding-bottom: 1em;
}

#content article {
  margin-bottom: 1em;
}

#content *:not(.collapse):target {
  margin: 0em -1em 0em;
  padding: 0em 1em 1em;

  border: 1px solid gray;
  box-shadow: 5px 5px 5px 0px gray;
  border-radius: .5em;
}

#content .pub-thumbnail {
  width: 100%;
  margin: 5px;
}

#footer {
  text-align: center;
  /* locates footer at bottom of page, whatever the page size */
  margin-top: auto;  
  padding-top: 3em;
  padding-bottom: 1em;
}

#haikusecret {
  position: fixed;
  top: 1em;
  left: 1em;
}

hr {
  border: none;
  width: 90%;
  height: 1px;
  background-color: gray;
}

div.notebook img {
  display: block;
  margin: 0 auto;
}
