@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700");

/* # TODO clean */

body {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-size: 140%;
  text-align: justify;
}

ul.nav {
  font-size: 1.3em;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.35em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}


div#pagewrap {
  width: 612px;
  width: 682px;
  margin: 10px auto;
  border: 2px;
}

hr {
  border: none;
  width: 80%;
  height: 1px;
  /* background-color: pink; */
  background-color: gray;
}

div#header {
  background: white;
}

div#pagebanner {
  width: 612px;
  width: 682px;
  background: white;
}

div#pagecontent {
  /* this is for the muhammad-mountain positioning system */
  position: relative;
}

/* page layout */

header {
  margin-top: 15px;
}

footer {
  height: 25px;
}

/* div.pubrow { */
#publications div.pub-entry {
  margin-top: 1em;
  margin-bottom: 1em;
}

main#content h1:before,
main#content h2:before,
main#content h3:before {
  content: "# ";
}

/* misc TODO clean */

.clear {
  clear: both;
}

footer {
  /* padding-top: 5px; */
  margin-bottom: 20px;
}

img.img-thumbnail {
  width: 100%;
  margin: 5px;
}

#haikusecret {
  position: fixed;
  top: 10px;
  left: 10px;
}

div.haiku {
  display: table;
  margin: 0 auto;
  /* border: 2px solid green; */
  background-image: url("/static/img/haiku/sakura1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div.haiku:nth-of-type(odd) {
  margin-right: 20%;
}

div.haiku:nth-of-type(even) {
  margin-left: 20%;
}

div.haiku:nth-of-type(3n-2) {
  background-image: url("/static/img/haiku/sakura1.png");
}

div.haiku:nth-of-type(3n-1) {
  background-image: url("/static/img/haiku/sakura2.png");
}

div.haiku:nth-of-type(3n) {
  background-image: url("/static/img/haiku/sakura3.png");
}

div.haiku > p { color: #333; }
div.haiku > p:nth-of-type(3n-2) { text-align: left; }
div.haiku > p:nth-of-type(3n-1) { text-align: center; }
div.haiku > p:nth-of-type(3n) { text-align: right; }

.showonhover {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.showonhover:hover {
  opacity: 1;
}

div.ipyprompt {
  position: absolute;
  font-family: monospace;
  /* background-color: green; */
  left: -63px;
}

div.ipycode {
  color: blue;
}

div.ipyoutput {
  color: red;
}

ol.bibliography {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.notebook {
}

object.notebook {
  /* width: 129%; */
  width: 146%;
  position: relative;
  left: -200px;
}

html, body, div#pagewrap, div#pagecontent, article, div.notebook, object.notebook {
  /* for notebook object auto height */
  height: 100%;
}

div.pull-right {
  /* padding-left: .5em; */
  /* border: 1px solid black; */
}

img {
  padding-left: 1em;
  padding-right: 1em;
}
