body {
    background-color:#CCCCCC;
    color:black;
}

div, header, aside, footer, section {
    border:1pt solid black;
    margin:5pt;
}

#top {
    text-align:center;
}

#middle {
    position:relative;
    text-align:center;
}

#middle:after {
    clear:both;
    content:'';
    display:table;
}

#nav {
    float:left;
    height:100%;
    width:100pt;
}

#nav ul {
    list-style-type:none;
    padding:0pt;
    margin:0pt;
}

#nav ul li {
    border:1pt solid black;
    background-color:#BBBBBB;
    margin:5%;
}

#nav ul li a {
    display:block;
    width:100%;
    text-decoration:none;
    color:black;
}

#nav ul li a:hover {
    background-color:#AAAAAA;
}

#content-wrapper {
    width=100%;
    overflow:hidden;
}

#content {
    height:200pt;
}

#bottom {
    clear:both;
    text-align:center;
    text-size:5pt;
}

