---
---

<div id="{{key}}-entry">
  <i class="fa fa-quote-left"></i>
  ({{entry.year}}) {{ entry.author | authorize: "Baisero" }}
  <br>
  "{{ entry.title }}"
  <!-- {% if entry.publisher %} -->
  <!--   <br> -->
  <!--   Publisher: {{ entry.publisher }} -->
  <!-- {% endif %} -->
  <!-- {% if entry.journal %} -->
  <!--   <br> -->
  <!--   Journal: {{ entry.journal }} -->
  <!-- {% endif %} -->

  <!-- {{reference}} -->
   
  <div id="{{key}}-material">
    <a data-toggle="collapse" href="#{{key}}-bibtex">BibTeX</a>

    {% if link %}
    <a href="{{link}}">Download</a>
    {% endif %}
    <pre id="{{key}}-bibtex" class="pre pre-scrollable collapse">{{entry.bibtex}}</pre>
  </div>
</div>
