<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="Andrea, Baisero, Machine Learning, Reingorcement Learning">
  <meta name="description" content="Andrea Baisero's Website">
  <meta name="author" content="Andrea Baisero">

  <!-- icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/favicon/manifest.json">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>Andrea Baisero - {{ active | capitalize }}</title>

  <link type="text/css" rel="stylesheet"
    href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
  <link type="text/css" rel="stylesheet"
    href="{{url_for('static', filename='css/normalize.css')}}">

  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <!-- <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.min.css"> -->

  <link type="text/css" rel="stylesheet"
    href="{{url_for('static', filename='css/style.css')}}">
  <link type="text/css" rel="stylesheet"
    href="{{url_for('static', filename='css/haiku.css')}}">
  <link type="text/css" rel="stylesheet"
    href="{{url_for('static', filename='css/util.css')}}">
  <link type="text/css" rel="stylesheet"
    href="{{url_for('static', filename='css/pygments.css')}}">

  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      MathJax.Hub.Config({
        'extensions': ['tex2jax.js'],
        'jax': ['input/TeX', 'output/HTML-CSS'],
        'tex2jax': {
          'inlineMath': [ ['$','$'], ['\\(','\\)'] ],
          'displayMath': [ ['$$','$$'], ['\\[','\\]'] ],
        },
        'HTML-CSS': { availableFonts: ['TeX'] },
      });
  </script>

  <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript"
    src="{{url_for('static', filename='js/util.js')}}"></script>
  <script type="text/javascript"
    src="{{url_for('static', filename='js/before.js')}}"></script>
  <script type="text/javascript"
    src="{{url_for('static', filename='js/notebook.js')}}"></script>
</head>
<body>

  <div id="container" class="container">
    <!-- debug -->
    <!-- <span class="visible-xs">SIZE XS</span> -->
    <!-- <span class="visible-sm">SIZE SM</span> -->
    <!-- <span class="visible-md">SIZE MD</span> -->
    <!-- <span class="visible-lg">SIZE LG</span> -->

    <!-- menu -->
    <nav id="menu" class="navbar navbar-default">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-target="#navbarMenu"
        data-toggle="collapse">
        <span class="fas fa-bars fa-lg"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('page')}}"><strong>Baise.ro</strong></a>

      <div id="navbarMenu" class="collapse navbar-collapse">
        <ul id="menulist" class="nav navbar-nav">
          {% for p in menu %}
          <li {% if p.meta.name | lower == active | lower %} class="active"{% endif %}>
            <a href="{{url_for('page', ppath=p.path)}}"><strong><span class="icon fas {{p.meta.icon}} fa-fw"></span> {{p.meta.name | capitalize}}</strong></a>
          </li>
          {% endfor %}
        </ul>
      </div> <!-- #navbarMenu -->

    </nav> <!-- #menu -->

    <main id="content">
      {% block content %} {% endblock %}
    </main> <!-- #content -->

    <footer id="footer">
      {% block footer %} {% endblock %}
      <small><strong>
        Copyright
        <span class="far fa-copyright fa-sm"></span>
        2015&ndash;{{today.year}} Andrea Baisero
      </strong></small>
    </footer>

  </div> <!-- #container -->

  <div id="haikusecret" class="showonhover">
    <a href="{{url_for('page', ppath='haiku')}}"><span class="icon fas fa-leaf fa-lg"></span></a>
  </div>

</body>
</html>
