<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Andrea, Baisero, Machine Learning">
  <meta name="description" content="Andrea Baisero's personal webpage">
  <meta name="author" content="Andrea Baisero">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Andrea Baisero - {{ active | capitalize }}</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.min.css">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">

  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      },
      "HTML-CSS": { availableFonts: ["TeX"] },
    });
  </script>
 
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ab.js') }}"></script>
</head>
<body>
  <div id="pagewrap">
    <div id="pagebanner">
      <ul class="nav nav-tabs nav-justified">
      {% for p in menu %}
        <li {% if p.meta.name | lower == active | lower %} class="active" {% endif %}>
        <a href="{{ url_for('page', ppath=p.path) }}"><strong>
            <span class="icon fa {{ p.meta.icon }} fa-fw"></span>
            {{ p.meta.name | capitalize }}
        </strong></a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div id="pagecontent">
      {% block content %} {% endblock %}
      <footer>
        <hr>
        Contact me at: <code><span class="email">andrea[PUNTO]baisero[CHIOCCIOLA]ipvs[PUNTO]uni[TRATTINO]stuttgart[PUNTO]de</span></code>
      </footer>
    </div>
  </div>
  <div class="haiku-leaf">
    <a href="/haiku"><span class="icon fa fa-leaf fa-lg"></span></a>
  </div>
</body>
</html>
