<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Baise.ro {% if pname.lower() != "baise.ro" %} - {{ pname | capitalize }} {% endif %}</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.min.css">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
  </script>
  <script type="text/javascript" src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ab.js') }}"></script>
</head>
<body>
  <div id="pagewrap">
    <div id="pagebanner">
      <ul class="nav nav-tabs nav-justified">
      {% for p in site.menu %}
        <li {% if p.meta.name.lower() == pname.lower() %} class="active" {% endif %}>
        <a href="{{ url_for('page', path=p.path) }}"><strong>
            <i class="fa {{ p.meta.icon }} fa-fw"></i>
            {{ p.meta.name.capitalize() }}
        </strong></a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div id="pagecontent">
    {% block content %} {% endblock %}
    <footer>
      <hr>
      Contact me at: <code><span class="email">andrea[PUNTO]baisero[CHIOCCIOLA]ipvs[PUNTO]uni[TRATTINO]stuttgart[PUNTO]de</span></code>
    </footer>
    </div>
  </div>
  <div class="haiku-leaf">
    <a href="/haiku"><i class="fa fa-leaf fa-lg"></i></a>
  </div>
</body>
</html>
