{% import 'utils.jinja' as utils %}

{% macro navitem(name) %}
  <li class="{{ 'active' if name == active }}">
    <a href="{{ url_for('main.page', name=name) }}">
      <strong>
        {{ utils.icon(pages.get(name)) }}{{ name|capitalize }}
      </strong>
    </a>
  </li>
{% endmacro %}

<!-- menu -->
<nav id="menu" class="navbar navbar-default">
  <button type="button"
          class="navbar-toggle collapsed"
          data-target="#navbarMenu"
          data-toggle="collapse">
    <span class="fas fa-bars fa-lg"></span>
  </button>
  <a class="navbar-brand" href="{{ url_for('main.page') }}">
    <strong>ABaisero</strong>
  </a>

  <div id="navbarMenu" class="collapse navbar-collapse">
    <ul id="menulist" class="nav navbar-nav">
      {{ navitem('home') }}
      {{ navitem('research') }}
      {{ navitem('teaching') }}
      {{ navitem('code') }}
      {{ navitem('weblog') }}
      {{ navitem('about') }}
    </ul>
  </div> <!-- #navbarMenu -->

</nav> <!-- #menu -->
