<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <meta name="author" content="Andrea Baisero">
  <meta name="description" content="Andrea Baisero's website;  access Andrea Baisero's research, teaching notes, code and posts.">
  <!-- TODO different description tag for each page? why not.. -->

  <!-- icons -->
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest"
        href="{{ url_for('static', filename='favicon/manifest.json') }}">
  <!-- <link rel="mask-icon" color="#5bbad5"> -->
  <!--       href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"> -->
  <link rel="mask-icon"
        href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}">
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='favicon/favicon.ico') }}">
  <meta name="msapplication-config"
        content="{{ url_for('static', filename='favicon/browserconfig.xml') }}">
  <meta name="theme-color" content="#ffffff">

  {% set active=active if active else page.meta.id %}
  <title>Andrea Baisero - {{ active|capitalize }}</title>

  {% assets filters="cssmin", output="gen/packed.1.css",
            "bootstrap-3.3.7-dist/css/bootstrap.css", "css/normalize.css" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <!-- <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.min.css"> -->

  {% assets filters="cssmin", output="gen/packed.2.css",
            "css/style.css", "css/haiku.css", "css/utils.css",
            "css/pygments.css" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      MathJax.Hub.Config({
        'extensions': ['tex2jax.js'],
        'jax': ['input/TeX', 'output/HTML-CSS'],
        'tex2jax': {
          'inlineMath': [ ['$','$'], ['\\(','\\)'] ],
          'displayMath': [ ['$$','$$'], ['\\[','\\]'] ],
        },
        'HTML-CSS': { availableFonts: ['TeX'] },
      });
  </script>

  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}">
  </script>

</head>
<body>

  <div id="container" class="container">

    <header id="header">
      {% include 'nav.html' %}
    </header> <!-- #content -->

    <main id="content">
      {% block content %}
        {{ page }}
      {% endblock %}
    </main> <!-- #content -->

    <footer id="footer">
      {% block footer %} {% endblock %}
      <small><strong>
        Copyright
        <span class="far fa-copyright fa-sm"></span>
        2015&ndash;{{ now.year }} Andrea Baisero
      </strong></small>
    </footer> <!-- #footer -->

  </div> <!-- #container -->

  <div id="haikusecret" class="showonhover">
    <a href="{{ url_for('main.page', name='haiku') }}">
      <span class="fas fa-leaf fa-lg"></span>
    </a>
  </div>

  {% assets filters="jsmin", output="gen/packed.js",
            "js/utils.js", "js/before.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

</body>
</html>
