<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Andrea Baisero">
  <meta name="description" content="Andrea Baisero's website;  access Andrea Baisero's research, teaching notes, code and posts.">
  <!-- TODO different description tag for each page? why not.. -->

  <!-- icons -->
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest"
        href="{{ url_for('static', filename='favicon/manifest.json') }}">
  <!-- <link rel="mask-icon" color="#5bbad5"> -->
  <!--       href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"> -->
  <link rel="mask-icon"
        href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}">
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='favicon/favicon.ico') }}">
  <meta name="msapplication-config"
        content="{{ url_for('static', filename='favicon/browserconfig.xml') }}">
  <meta name="theme-color" content="#ffffff">

  <title>Andrea Baisero - {{ active|capitalize }}</title>

  <!-- <link type="text/css" rel="stylesheet" -->
  <!--   href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"> -->
  <!-- <link type="text/css" rel="stylesheet" -->
  <!--   href="{{ url_for('static', filename='css/normalize.css') }}"> -->

  {% assets filters="cssmin", output="gen/packed.1.css",
            "bootstrap/css/bootstrap.css", "css/normalize.css" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  <!-- <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.min.css"> -->

  <!-- <link type="text/css" rel="stylesheet" -->
  <!--   href="{{ url_for('static', filename='css/style.css') }}"> -->
  <!-- <link type="text/css" rel="stylesheet" -->
  <!--   href="{{ url_for('static', filename='css/haiku.css') }}"> -->
  <!-- <link type="text/css" rel="stylesheet" -->
  <!--   href="{{ url_for('static', filename='css/utils.css') }}"> -->
  <!-- <link type="text/css" rel="stylesheet" -->
  <!--   href="{{ url_for('static', filename='css/pygments.css') }}"> -->

  {% assets filters="cssmin", output="gen/packed.2.css",
            "css/style.css", "css/haiku.css", "css/utils.css",
            "css/pygments.css" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      MathJax.Hub.Config({
        'extensions': ['tex2jax.js'],
        'jax': ['input/TeX', 'output/HTML-CSS'],
        'tex2jax': {
          'inlineMath': [ ['$','$'], ['\\(','\\)'] ],
          'displayMath': [ ['$$','$$'], ['\\[','\\]'] ],
        },
        'HTML-CSS': { availableFonts: ['TeX'] },
      });
  </script>

  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}">
  </script>

  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
  <!-- <script -->
  <!--   type="text/javascript" -->
  <!--   src="{{ url_for('static', filename='js/background.js') }}"> -->
  <!-- </script> -->

</head>
<body>

  <!-- <div id="background"> -->
  <!--   <svg width="100%" height="100%"> -->
  <!--   <defs> -->
  <!--     <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse"> -->
  <!--       <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5"/> -->
  <!--     </pattern> -->
  <!--     <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse"> -->
  <!--       <rect width="100" height="100" fill="url(#smallGrid)"/> -->
  <!--       <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1"/> -->
  <!--     </pattern> -->
  <!--   </defs> -->
  <!--   <rect width="100%" height="100%" fill="url(#grid)" /> -->
  <!-- </svg> -->
  <!-- </div> -->

  <div id="container" class="container">
    <!-- debug -->
    <!-- <span class="visible-xs">SIZE XS</span> -->
    <!-- <span class="visible-sm">SIZE SM</span> -->
    <!-- <span class="visible-md">SIZE MD</span> -->
    <!-- <span class="visible-lg">SIZE LG</span> -->

    <header id="header">
      {# {{ nav('home', 'research', 'teaching', 'code', 'weblog', 'about') }} #}
      {% include 'nav.html' %}
    </header>

    <main id="content">
      {% block content %} {{ page }} {% endblock %}
    </main> <!-- #content -->

    <footer id="footer">
      {% block footer %} {% endblock %}
      <small><strong>
        Copyright
        <span class="far fa-copyright fa-sm"></span>
        2015&ndash;{{ today.year }} Andrea Baisero
      </strong></small>
    </footer>

  </div> <!-- #container -->

  <div id="haikusecret" class="showonhover">
    <a href="{{ url_for('main.page', name='haiku') }}">
      <span class="fas fa-leaf fa-lg"></span>
    </a>
  </div>

  <!-- <script type="text/javascript" -->
  <!--   src="{{ url_for('static', filename='js/utils.js') }}"></script> -->
  <!-- <script type="text/javascript" -->
  <!--   src="{{ url_for('static', filename='js/before.js') }}"></script> -->

  {% assets filters="jsmin", output="gen/packed.js",
            "js/utils.js", "js/before.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

</body>
</html>
