{% extends "page.html" %}

{% block content %}
{{ super() }}

{% for entry in bib %}
  <div class="row">

    <div class="col-xs-2">
      <a href="{{ url_for('static', filename='docs/pubs/{}.pdf'.format(entry.key)) }}">
        <img class="img-thumbnail img-rounded" src="{{ url_for('static', filename='docs/pubs/{}.png'.format(entry.key)) }}">
      </a>
      <div class="pub-links">
        <a role="button" class="btn btn-xs btn-default" href="{{url_for('static', filename='docs/pubs/{}.pdf'.format(entry.key))}}">
          <span class="icon fa fa-files-o"></span> pdf
        </a>
        <a role="button" class="btn btn-xs btn-default" href="#collapse_{{entry.key}}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse_{{entry.key}}">bibtex</a>
      </div>
    </div> <!-- col -->

    <div class="col-xs-10">
      <div class="pub-title">
        <a name="{{ entry.key }}"></a>
        {{ entry.title }}
        <a href="#{{ entry.key }}">¶</a>
      </div>
      <span class="pub-authors"><small>{{ entry.authors | boldify('Baisero') | safe }}</small></span>.
      <br/>
      <span class="pub-conf">
        {% if entry.booktitle %}
          {{ entry.booktitle }},
        {% elif entry.journal %}
          {{ entry.journal }},
        {% elif entry.school %}
          {{ entry.school }},
          {% if entry.type_ == "mastersthesis" %}
          Master's Thesis,
          {% endif %}
        {% endif %}
        {{ entry.year }}
        {% if entry.note %}
          - <strong>{{ entry.note }}</strong>
        {% endif %}
      </span>

      <div class="collapse" id="collapse_{{entry.key}}">
        <div class="well">{{entry.bibtex | replace('\n', '<br/>') | safe}}</div>
      </div>
    </div> <!-- col -->

  </div> <!-- row -->
{% endfor %}

{% endblock %}
