{% extends "page.html" %}

{% block content %}
{{ super() }}

{% for entry in bib %}
  <div class="row pubrow">

    <div class="col-xs-2">
      <div class="pub-preview">
      <a href="{{ url_for('static', filename='docs/pubs/{}.pdf'.format(entry.key)) }}">
        <img class="img-thumbnail img-rounded" src="{{ url_for('static', filename='docs/pubs/{}.png'.format(entry.key)) }}">
      </a>
      </div>
      <!-- <div class="pub-links"> -->
      <div class="text-center">
        <a role="button" class="btn btn-xs btn-default" href="{{url_for('static', filename='docs/pubs/{}.pdf'.format(entry.key))}}">
          <span class="icon fa fa-files-o"></span> pdf
        </a>
        <a role="button" class="btn btn-xs btn-default" href="#collapse_{{entry.key}}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse_{{entry.key}}">bibtex</a>
      </div>
    </div> <!-- col -->

    <div class="col-xs-10">
      <a name="{{ entry.key }}"></a>
      {{ entry.title }}
      <a href="#{{ entry.key }}">¶</a>
      <br/>

      <small>{{ entry.authors | strongify('Baisero') | safe }}.</small>
      <br/>

      <small>
      {% if entry.booktitle %}
        {{ entry.booktitle }},
      {% elif entry.journal %}
        {{ entry.journal }},
      {% elif entry.school %}
        {{ entry.school }},
        {% if entry.type_ == "mastersthesis" %}
        Master's Thesis,
        {% endif %}
      {% endif %}
      {{ entry.year }}
      {% if entry.note %}
        - <strong>{{ entry.note }}</strong>
      {% endif %}
      </small>

      <div class="collapse" id="collapse_{{entry.key}}">
        <small><pre>{{entry.bibtex | replace('\n', '<br/>') | safe}}</pre></small>
      </div>
    </div> <!-- col -->

  </div> <!-- row -->
{% endfor %}

{% endblock %}
