{% extends "page.html" %}

{% block content %}
  {{ super() }}

  {% for group in groups.itertuples() %}
    <section id="{{ group.name }}">
      <h2>{{ group.title|safe }}</h2>
      {% for article in articles[group.name] %}
        <article id="{{ article.meta.name }}">

          {% if article.meta.title %}
            <header>
              <h3> {{ article.meta.title }}
                <a href="#{{ article.meta.id }}">§</a>
              </h3>
            </header>
          {% endif %}

          {{ article }}

          {% if article.meta.pubkeys %}
            {{ publications_panel(article.meta.pubkeys.split(';')) }}
          {% endif %}

        </article>
      {% endfor %}
    </section>

    {% if not loop.last %}
      <hr/>
    {% endif %}
  {% endfor %}

{% endblock %}


{#
{% import 'utils.jinja' as utils %}
#}

{% macro publications_panel(keys) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Relevant Publications</h4>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        {% for key in keys %}
          <li>
            <a class="btn btn-link btn-xs"
               href="{{ url_for('research.publications', _anchor=key) }}">
              <span class="icon fas fa-link"></span> link
            </a>

            <a class="btn btn-link btn-xs"
               href="{{ url_for('static', filename='docs/pubs/{key}/{key}.pdf'.format(key=key)) }}">
              <span class="icon far fa-file-pdf"></span> pdf
            </a>

            {% set entry = refs.entries[key] %}
            {% set has_mp4 = pub_has_mp4(entry) %}

            <a class="btn btn-link btn-xs {{ 'disabled' if not has_mp4 }}"
               href="{{ url_for('static', filename='docs/pubs/{key}/{key}.mp4'.format(key=key)) }}">

              {#
              {% call utils.ifcall(not has_mp4, utils.surround, 'del') %}
                <span class="icon fas fa-video"></span> mp4
              {% endcall %}
              #}

              {% if not has_mp4 %}<del>{% endif %}
                <span class="icon fas fa-video"></span> mp4
              {% if not has_mp4 %}</del>{% endif %}
            </a>

            &mdash; {{ entry.fields.title }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{#
      <li>
        <a class="btn btn-link btn-xs" href="/research/publications#2012_baisero_encoding">
          <span class="icon fas fa-link"></span> link</a>
        <a class="btn btn-link btn-xs" href="/research/publications/2012_baisero_encoding.pdf">
          <span class="icon far fa-file-pdf"></span> pdf</a>
        <a class="btn btn-link btn-xs disabled" href="#">
          <del><span class="icon fas fa-video"></span> mp4</del></a>
        &mdash;
        Encoding Sequential Structures using Kernels
      </li>
      <li>
        <a class="btn btn-link btn-xs" href="/research/publications#2013_baisero_path">
          <span class="icon fas fa-link"></span> link</a>
        <a class="btn btn-link btn-xs" href="/research/publications/2013_baisero_path.pdf">
          <span class="icon far fa-file-pdf"></span> pdf</a>
        <a class="btn btn-link btn-xs disabled" href="#">
          <del><span class="icon fas fa-video"></span> mp4</del></a>
        &mdash;
        The Path Kernel
      </li>
      <li>
        <a class="btn btn-link btn-xs" href="/research/publications#2015_baisero_family">
          <span class="icon fas fa-link"></span> link</a>
        <a class="btn btn-link btn-xs" href="/research/publications/2015_baisero_family.pdf">
          <span class="icon far fa-file-pdf"></span> pdf</a>
        <a class="btn btn-link btn-xs disabled" href="#">
          <del><span class="icon fas fa-video"></span> mp4</del></a>
        &mdash;
        On a Family of Decomposable Kernels on Sequences
      </li>
      <li>
        <a class="btn btn-link btn-xs" href="/research/publications#2015_baisero_path">
          <span class="icon fas fa-link"></span> link</a>
        <a class="btn btn-link btn-xs" href="/research/publications/2015_baisero_path.pdf"><span class="icon far fa-file-pdf"></span> pdf</a>
        <a class="btn btn-link btn-xs disabled" href="#">
          <del><span class="icon fas fa-video"></span> mp4</del></a>
        &mdash;
        The Path Kernel:  A Novel Kernel for Sequential Data
      </li>
    </ul>
  </div>
</div>
#}
{% endmacro %}
