{% extends "page.html" %}

{% block content %}
  {{ super() }}

  {% for group in groups.itertuples() %}
    <section id="{{ group.name }}">
      <h2>{{ group.title|safe }}
        <a class="showonhover"
           href="#{{ group.name }}">
          {{ anchor|safe }}
        </a>
      </h2>
      {% for topic in topic_groups[group.name] %}
        <article id="{{ topic.meta.id }}">

          {% if topic.meta.title %}
            <header>
              <h3> {{ topic.meta.title }}
                <a class="showonhover"
                   href="#{{ topic.meta.id }}">
                  {{ anchor|safe }}
                </a>
              </h3>
            </header>
          {% endif %}

          {{ topic }}

          {% if topic.meta.pubkeys %}
            {{ publications_panel(topic.meta.pubkeys.split(';')) }}
          {% endif %}

        </article>
      {% endfor %}
    </section>

    {% if not loop.last %}
      <hr/>
    {% endif %}
  {% endfor %}

{% endblock %}


{% macro publications_panel(keys) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Relevant Publications</h4>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        {% for key in keys %}
          <li>
            <a class="btn btn-link btn-xs"
               href="{{ url_for('research.publications', _anchor=key) }}">
              <span class="icon fas fa-link"></span> link
            </a>

            <a class="btn btn-link btn-xs"
               href="{{ url_for('static', filename='docs/pubs/{key}/{key}.pdf'.format(key=key)) }}">
              <span class="icon far fa-file-pdf"></span> pdf
            </a>

            {% set entry = refs.entries[key] %}

            {% if pub_has_mp4(entry) %}
              <a class="btn btn-link btn-xs"
                 href="{{ url_for('static', filename='docs/pubs/{key}/{key}.mp4'.format(key=key)) }}">
                <span class="icon fas fa-video"></span> mp4
              </a>
            {% else %}
              <a class="btn btn-link btn-xs disabled" href="">
                <del>
                  <span class="icon fas fa-video"></span> mp4
                </del>
              </a>
            {% endif %}

            &mdash; {{ entry.fields.title }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endmacro %}
