{% macro ifcall(condition, m) %}
  {% set caller_ = caller %}
  {% if condition %}
    {% call m(*varargs, **kwargs) %}
      {{ caller_() }}
    {% endcall %}
  {% else %}
      {{ caller_() }}
  {% endif %}
{% endmacro %}


{% macro surround(tag) %}
  <{{ tag }}
  {% for key, value in kwargs.items() %}
    {{ key }}="{{ value }}"
  {% endfor %}>
    {{ caller() }}
  </{{ tag }}>
{% endmacro %}


{% macro icon(page) %}
  <!-- hack for code.md icon -->
  {% if page.meta.id == 'code' %}
    <span class="fa-layers fa-fw">
      <span class="fas fa-laptop"></span>
      <span class="fas fa-code" data-fa-transform="shrink-9 up-2"></span>
    </span>
  {% else %}
    <span class="{{ page.meta.icon }} fa-fw"></span>
  {% endif %}
{% endmacro %}
