{% extends "page.html" %}

{% block content %}
{{ super() }}
<ul class="list-group">
  {% for post in weblogs %}
  <li class="list-group-item">
  <!-- <small><strong>{{ post.meta.date | fmt_date }}</strong></small> -->
  <small><strong>{{ post.meta.date }}</strong></small>
    <!-- <i class="fa {{ post.meta.icon if post.meta.icon else "fa-pencil" }} fa-lg"></i> -->
    <i class="fa {{ post.meta.icon if post.meta.icon else "fa-pencil" }}"></i>
    <a href="{{ url_for('post', pname=post.path) }}">{{ post.meta.title }}</a>
    <br>
    {% if post.meta.description %}
    <small> {{ post.meta.description }}</small>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}
